name: "Pull Request Check"

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    types: [opened, reopened]

jobs:
  pr-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/test
        with:
          coverage: "true"
  pr-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-dependencies
      - run: npm run build
